.inputWrap {
  display: inline-flex;
  min-width: 200px;
  border: 1px solid var(--border-primary);
  border-radius: var(--border-radius);
  padding: 4px 8px;

  .inputBlock {
    width: 100%;

    .inputBase {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;

      &::placeholder {
        color: var(--text-muted);
      }
    }
  }

  &:hover {
    border-color: var(--border-secondary);
  }
}