.inputWrap {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  min-width: 200px;
  position: relative;

  .inputBlock {
    width: 100%;
    border: 1px solid var(--border-primary);
    border-radius: var(--border-radius);
    padding: 4px 8px;

    .inputBase {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;

      &::placeholder {
        color: var(--text-muted);
      }
    }
  }

  &:hover {
    border-color: var(--border-secondary);
  }

  &.error {
    .inputBlock {
      border-color: var(--border-danger);
    }

    .label {
      color: var(--accent-danger);
    }
  }
}

.errorBlock {
  font-size: var(--font-size-small);
  position: absolute;
  bottom: -4px;
  transform: translateY(100%);
  left: 0;
  color: var(--accent-danger);
}