.dropdownContainer {
  width: 200px;
  position: relative;


  &.fullWidth {
    width: 100%;
  }
}

.dropdownHeader {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.dropdownList {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
}

.dropdownListItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;

  &.active {
    pointer-events: none;
    color: var(--color-main-bg);
    background-color: var(--primary);
  }
}

.dropdownListItem:hover {
  background-color: var(--primary);
  color: var(--color-main-bg);
}

.inputNoteditable {
  caret-color: transparent;
}