.AppPaginationWrap{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    border: 1px solid;
    border-radius: 8px;
    margin: 15px auto;
    /*background-color: white;*/
    z-index: 5;
    box-sizing: border-box;
}

.PaginationPage{
    padding: 3px 4px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 12px;
}

.PaginationPage:not(.CurrentPage):hover{
    cursor: pointer;
    font-weight: bold;
    color: var(--primary);
}

.CurrentPage{
    font-weight: bold;
    color: var(--primary);
}