.fromWrap {
  padding: 20px;
  max-width: 500px;
  background-color: var(--bg-accent);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-primary);
}

.actions {
  margin-top: 12px;
}